<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fxl.mvpdemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 修改声音是听筒还是扬声器 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- tencentIM -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.READ"/>
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.WRITE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- tencentIM -->


    <!-- 小米推送 -->
    <permission
        android:name="com.fxl.leplusNew.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <!-- 这里com.tencent.imsdk改成app的包名 -->
    <uses-permission android:name="com.xunlebao.leplusNew.permission.MIPUSH_RECEIVE"/>
    <!-- 这里com.tencent.imsdk改成app的包名 -->
    <!-- 小米推送 -->
    <!-- 化为推送 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 华为推送 -->


    <!-- 支付功能用到的通用权限 -->
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.nfc.hce"/>

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>

    <!-- 第三方分享 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->


    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 访问网络，网络定位需要上网 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name="com.fxl.mvpdemo.LeplusApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.tencent.rdm.uuid"
            android:value="41434af4-5144-4966-babc-a99d9a80fa06"/>

        <!-- 三方分享shareSdk -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 三方分享shareSdk -->


        <!-- 微信分享回调 -->
        <activity
            android:name="com.fxl.mvpdemo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 微信分享回调 -->


        <!-- 百度地图开始 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0tGkn4GNGh9njaM6xFjvZH52dIZMqVQc"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!-- 百度地图结束 -->


        <!-- 微信支付回调相关 -->
        <activity
            android:name="com.fxl.mvpdemo.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"/>
        <!-- 微信支付回调相关 -->


        <!-- 友盟数据 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ce29e0e0f55aaa8b001f1d"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- 友盟数据 -->


        <!-- 腾讯 -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE"/>
        <!-- 消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE"/>
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal"/>
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <!-- 腾讯 -->

        <activity
            android:name="com.fxl.mvpdemo.pages.guid.GuidActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.fxl.mvpdemo.pages.login.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ApppCompatFullScreen"/>
        <activity
            android:name="com.fxl.mvpdemo.pages.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.fxl.mvpdemo.pages.activitylist.ActivityListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.fxl.mvpdemo.pages.amusedetail.AmuseDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.fxl.mvpdemo.pages.qrcodescanner.QrcodeScannerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>